.App {
  text-align: center;
  background-color: #282c34;
  color: #ffffff;
  font-size: calc(10px + 2vmin);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

}

.App-content {
  flex: 1 1 auto;
}

.example-section {
  display: flex;
  justify-content: space-between;
}

.example-fab {
  position: fixed;
  bottom: 25px;
  right: 50px;
}

code {
  color: #555555;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
