@import "variables";
@import "utilities";

html, body {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

#root {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background-color: map-get($app, "background-color");
}

#resume {
  background-color: map-get($main-container, "background-color");
  flex: 1 1 auto;
  padding-bottom: 2.5rem;

  #resume-header {
    margin-bottom: 1rem;

    #resume-header--personal {
      padding: 1rem;
    }

    #resume-header--contact-info {
      padding: 1rem;
    }

    #resume-header--photo {
      height: 8rem;
      width: 8rem;
      border: 3px solid transparent;
    }
  }

  .resume--section {
    &:not(:first-child) {
      margin-top: 2.5rem;
    }
  }

  .resume-experience--item {
    &:not(:first-child) {
      margin-top: 1.5rem;
    }

    .resume-experience--item-list {
      padding: 0.5rem 0 0 0.5rem;

      &.is-sub-list {
        padding-left: 2rem;
      }

      .resume-experience--item-list-item {
        &:not(:first-child) {
          margin-top: 0.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  #resume {
    .resume-column {
      &:not(:first-child) {
        padding-left: 2.5rem;
      }

      &:not(:last-child) {
        padding-right: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .hidden-xs {
    display: none !important;
  }

  #resume {
    #resume-header {
      #resume-header--personal {
        flex-direction: column-reverse;
        flex-wrap: unset;
        flex-wrap: unset;
        text-align: center;

        #resume-header--photo {
          margin-bottom: 1rem;
        }
      }

      #resume-header--contact-info {
        padding: 1.5rem 1rem;
      }
    }

    .resume-column:not(:first-child) {
      .resume--section:first-child {
        margin-top: 2.5rem;
      }
    }
  }
}
